{% extends 'base.html' %}

{% block title %}
<title> Tasks Page </title>
{% endblock%}

{% block content%}

<ul>
    {% for t in tasks %}
    <li>
        <p>{{t.name}}</p>
        <p>{{t.progress}}</p>
        <p>{{(t.due_date - t.created_date).days}} days left</p>
        {% for c in t.comments %}
        <p>{{c.name}}</p>
        {% if t.user_id==id %}
        <a href="/comments/del/{{c.id}}"><button>del</button></a>
        {% endif %}
        {% endfor %}
        <form action="/comments/{{t.id}}" method="POST">
            <input type="text" name="name">
            <input type="submit">
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock%}